


.crop-img{
	width: 100%;
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;

}

.large-img{
	width: 100%;
	margin-bottom: 50px;
}

.top-25{
	padding: 25px;
}

h1{
font-family: serif;
}

.container{
	padding-top: 28px;
}

.navbar-brand{
	padding-left: 45px;

}